<!-- Original CSS -->
<link href="/stylesheets/style.css" rel="stylesheet">

<title>ログイン | Works</title>
<body class="text-center bg-light">
  <div>
    <img class="mb-4" src="/img/Works-logo.png" width="80" height="100">
  </div>
  <form class="border rounded bg-white form-login" action="users#index">
      <h1 class="h3 my-3">Login</h1>
    <div class="mb-3 pt-3">
      <input type="text" class="form-control rounded-pill" placeholder='社員番号'>
    </div>
    <div class="mb-3">
      <input type="password" class="form-control rounded-pill" placeholder='パスワード'>
    </div>
    <button type="submit" class="btn btn-info text-white rounded-pill px-5 my-4">ログイン</button>
  </form>
</body>