<!-- fontawesome -->
<script src="https://kit.fontawesome.com/af75622bf0.js" crossorigin="anonymous"></script>

<title>詳細 | Workers</title>
<body class="text-center bg-light">
  <form class="mx-auto col-lg-9 rounded bg-white form-time-table" action="index.erb">
      <h1 class="h3 my-3">月別リスト</h1>

        <%= link_to 'Logout', logout_path, method: :delete %>

    <select class="form-select rounded-pill mb-3" aria-label="Default select example">
      <option>2021/06</option>
    </select>

    <div class="card text-start my-4" style="width: auto;">
      <div class="card-header">
        実働日数
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
      </ul>
    </div>

    <div class="card text-start my-4" style="width: auto;">
      <div class="card-header">
        残業時間
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
      </ul>
    </div>

    <div class="card text-start my-4" style="width: auto;">
      <div class="card-header">
        残有給休暇
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
      </ul>
    </div>


    <table class="table table-bordered">
      <thead>
        <tr class="bg-light">
          <th scope="col">日</th>
          <th scope="col">出勤</th>
          <th scope="col">退勤</th>
          <th scope="col">休憩</th>
          <th scope="col">業務内容</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1（月）</th>
          <td>09:00</td>
          <td>18:00</td>
          <td>01:00</td>
          <td>テキストテキストテキストテキストテキストテキス....</td>
          <td><i class="fas fa-pencil-alt"></i></td>
        </tr>
      </tbody>
    </table>
  </form>
