<div class="pt-3 col-md-2 bg-white">
  <div class="sidebar-sticky">
    <ul class="nav  nav-stacked ">
      <li class="nav-item">
        <a class="nav-link" href="show.html.erb">
          <img class="mb-1" src="/img/calendar.png" width="24" height="24">勤怠月別一覧
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img class="mb-1" src="/img/clock--v3.png" width="24" height="24">残業申請一覧
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="works/paid_holidays.html.erb">
          <img class="mb-1" src="/img/sunbathe.png" width="24" height="24">休暇申請一覧
        </a>
      </li>
    </ul>
  </div>
</div>
