<div class="pt-3 col-md-2 bg-white">
  <div class="sidebar-sticky">
    <ul class="nav  nav-stacked ">
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">
          <img class="mb-1" src="/img/clock.png" width="24" height="24">出退勤打刻
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img class="mb-1" src="/img/calendar.png" width="24" height="24">勤怠月別一覧
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img class="mb-1" src="/img/clock--v3.png" width="24" height="24">残業申請一覧
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img class="mb-1" src="/img/sunbathe.png" width="24" height="24">休暇申請一覧
        </a>
      </li>
    </ul>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <p></p>
          <h5 class="modal-title" id="exampleModalLabel">日報登録</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="alert alert-primary" role="alert">
            11/1（月）
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="出勤">
                  <span class="input-group-text" id="basic-addon1">打刻</span>
                </div>
              </div>
              <div class="col-sm">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="退勤">
                  <span class="input-group-text" id="basic-addon1">打刻</span>
                </div>              </div>
              <div class="col-sm">
                <input type="text" class="form-control" placeholder="休憩">
              </div>
            </div>
            <div class="mb-3 pt-3">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="業務内容"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary text-white rounded-pill px-5">登録</button>
        </div>
      </div>
    </div>
  </div>
</body>
